

<ul class="menu hidden lg:flex lg:items-center lg:ml-auto lg:space-x-8 xl:space-x-16">
    
    <li class="font-semibold text-color3 text-lg hover:text-color3 transition ease-in-out duration-300">
        <a href="{% url 'index' %}">Home</a>
    </li>
    <li class="font-semibold text-color3 text-lg hover:text-color3 transition ease-in-out duration-300">
        <a href="{% url 'products' %}">Shop</a>
    </li>
    <li class="font-semibold text-color3 text-lg hover:text-color3 transition ease-in-out duration-300">
        <a href="{% url 'about' %}">About</a>
    </li>
    <li class="font-semibold text-color3 text-lg hover:text-color3 transition ease-in-out duration-300">
        <a href="{% url 'services' %}">Services</a>
    </li>
    <li class="font-semibold text-color3 text-lg hover:text-color3 transition ease-in-out duration-300">
        <a href="{% url 'contact' %}">Contact</a>
    </li>
    <!-- <li class="font-semibold text-color3 text-lg hover:text-color3 transition ease-in-out duration-300">
        <a href="{% url 'menu' %}">Menu</a>
    </li> -->
</ul>